html, body {
    margin: 0;
}

header {
    background-color: black;
    color: rgb(211, 183, 183);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-left: 0px;
}

li {
    float: left;
    padding: 20 10 20 10;
}

li:hover {
    background-color: #01AAEA;
}

#imagem_fundo {
    background: url("img/fundo.jpg");
    height: 100%;
    text-align: center;
    background-image: cover;
}

#titulo {
    color: white;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
}

#subtitulo {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 1px 1px black;
}

#acao {
    color: white;
    border: 1px white solid;
    padding: 10px 20px 10px 20px ;
}

.icone {
    width: 20px;
}

section {
    padding: 20px;
    float: left;
}

.destaque {
    background-color: teal;
}

.imgdica {
    width: 40%;
    height: 30%;
}

.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}

.dois {
    width: 40%;
}

.quatro {
    width: 10,9%;
}

.tres {
    width: 100%;
    padding: 0 2%;
}

.justificado {
    text-align: justify;
}

.centralizado {
    text-align: center;
}

footer {
    background-color: #01AAEA;
    float: left;
    width: 100%;
    height: 30%;
    color: white;
}